html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  /* apply Google font as default */
  font-family: 'Nunito', sans-serif;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* override bootstrap styles with custom colour palette */
.navbar-dark {
    background-color: #795548;
}

.btn-primary, .badge-secondary {
    background-color: #FF9800;
}

    .btn-primary:hover {
        background-color: #5D4037;
    }

.btn-danger {
    background-color: #757575;
}

    .btn-danger:hover {
        background-color: #BDBDBD;
    }

a {
    color: #FF9800;
}

a.card-body {
    text-decoration: none;
}