@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Hidden Squirrel</h1>
    <p>We sell cool pet products and have all kinds of other fun surprises.</p>
</div>
