@model IEnumerable<Category>

@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>
<a asp-controller="Categories" asp-action="Create">Create a Category</a>
<ul>
    @foreach (var category in Model)
    {
        <li>@category.Name</li>
    }
</ul>